Options +ExecCGI
AddType text/html .cgi
AddHandler cgi-script .cgi

<Limit POST PUT DELETE>
  Require user wakaba
  AuthType Basic
  AuthUserFile /home/wakaba/public_html/archive2/.htpasswd
  AuthName "Schema Database"
</Limit>
